/**
 * Mixin to create a gradient-ish border to separate articles in view
 */
@mixin divider-gradient()
	background: rgba( 240, 240, 240, 0 )
	background: -moz-linear-gradient( left, rgba( 240, 240, 240, 0 ) 0%, rgba( 240, 240, 240, 1 ) 20%, rgba( 240, 240, 240, 1 ) 80%, rgba( 240, 240, 240, 0 ) 100% )
	background: -webkit-linear-gradient( left, rgba( 240, 240, 240, 0 ) 0%, rgba( 240, 240, 240, 1 ) 20%, rgba( 240, 240, 240, 1 ) 80%, rgba( 240, 240, 240, 0 ) 100% )
	background: -o-linear-gradient( left, rgba( 240, 240, 240, 0 ) 0%, rgba( 240, 240, 240, 1 ) 20%, rgba( 240, 240, 240, 1 ) 80%, rgba( 240, 240, 240, 0 ) 100% )
	background: -ms-linear-gradient( left, rgba( 240, 240, 240, 0 ) 0%, rgba( 240, 240, 240, 1 ) 20%, rgba( 240, 240, 240, 1 ) 80%, rgba( 240, 240, 240, 0 ) 100% )
	background: linear-gradient( to right, rgba( 240, 240, 240, 0) 0%, rgba( 240, 240, 240, 1 ) 20%, rgba( 240, 240, 240, 1) 80%, rgba( 240, 240, 240, 0 ) 100% )
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 )

@mixin sidebar-gradient()
	background: rgba(240,240,240,1)
	background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 80%, rgba(240,240,240,0) 100%)
	background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 80%, rgba(240,240,240,0) 100%)
	background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 80%, rgba(240,240,240,0) 100%)
	background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 80%, rgba(240,240,240,0) 100%)
	background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 80%, rgba(240,240,240,0) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=0 )

@mixin button-gradient()
	background: rgba(92,171,210,1)
	background: -moz-linear-gradient(top, rgba(92,171,210,1) 0%, rgba(72,128,158,1) 100%)
	background: -webkit-linear-gradient(top, rgba(92,171,210,1) 0%, rgba(72,128,158,1) 100%)
	background: -o-linear-gradient(top, rgba(92,171,210,1) 0%, rgba(72,128,158,1) 100%)
	background: -ms-linear-gradient(top, rgba(92,171,210,1) 0%, rgba(72,128,158,1) 100%)
	background: linear-gradient(to bottom, rgba(92,171,210,1) 0%, rgba(72,128,158,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cabd2', endColorstr='#48809e', GradientType=0 )

/**
 * Iterates over a sprite-sheet of sponsors and prints the sprite as background-image
 * for a calculate nth element
 */
@mixin n-sponsors()

	$vertical-background-offset:    4px     // Offset from top for the first row in sprite-sheet
	$sprite-rows:                   4       // Numbers of rows
	$sprite-row-height:             75px    // Height of row
	$sprite-row-offset:             21px    // Distance between rows
	$sprite-cols:                   6       // Number of columns
	$sprite-col-width:              128px   // Width of column
	$sprite-col-offset:             23px    // Distance between columns

	// For each row in sprite-sheet
	@for $i from 1 through $sprite-rows

		// For each column in sprite-sheet
		@for $n from 1 through $sprite-cols

			// Current number of sponsor based on what row and column we're currently in
			$current-n:     ( $i - 1 ) * $sprite-cols + $n

			$current-x:     ( $n - 1 ) * -$sprite-col-width - ( ( $n - 1 ) * $sprite-col-offset )
			$current-y:     -( $i - 1 ) * $sprite-row-height - ( ( $i - 1 ) * $sprite-row-offset ) - $vertical-background-offset

			// Calculate the X and Y position on the sprite-sheet to the background-position
			// properties.
			.sponsor.sponsor-#{$current-n}:after
				background-position: $current-x $current-y