@import 'colors'

body
	font-family: Georgia, serif
	font-size: 13px
	line-height: 20px

h1, h2, h3, h4, h5, h6
	margin: 0 0 20px 0
	font-family: Garamond, Georgia, serif

h1

h2
	font-size: 24px

p
	margin-bottom: 20px
	line-height: 20px

footer

	h1, h2, h3, h4, h5, h6
		color: $puff-white

.uppercase
	text-transform: uppercase