@import 'layout/helpers'
@import 'layout/colors'
@import 'layout/anchors'
@import 'layout/typography'

$desktop:   991px
$tablet:    767px
$mobile:    480px

body
	background-color: $prussian-blue
	background-image: url('../img/header-glow.jpg'), url('../img/gradient-background.jpg')
	background-repeat: no-repeat, repeat-y
	background-position: center top

#page
	width: 960px
	margin: 0 auto
	background: $puff-white

	@media ( max-width: $desktop )
		width: 100%

	header
		display: -ms-flexbox
		display: -webkit-box
		display: flex
		position: relative
		padding: 20px 30px
		background: $woodsmoke-grey

		@media ( max-width: $desktop )
			display: block
			padding: 20px 30px 10px

		.logo

			@media ( max-width: $mobile )
				width: 100%

			img

				@media ( max-width: $mobile )
					width: 100%

		.navigation
			display: -ms-flexbox
			display: -webkit-box
			display: flex
			flex-direction: column
			flex-grow: 1
			margin-left: auto
			padding: 0 0 0 30px

			@media ( max-width: $desktop )
				display: block
				position: relative
				margin: 10px 0 0
				padding: 0
				flex-direction: row

			form.search-container
				position: relative
				border-radius: 9px

				@media ( max-width: $desktop )
					margin: 0 0 10px 0

				label[for="search"]
					position: absolute
					right: 0

					@media ( max-width: $desktop )
						position: relative

					input#search
						width: 125px
						height: 18px
						padding: 5px 5px 5px 25px
						background: #FFF url('../img/header-search.png') no-repeat 3px center
						border: 0
						border-radius: 9px
						font-family: Georgia, serif
						font-size: 11px
						font-weight: 300
						box-shadow: inset 0 2px 8px rgba( 0, 0, 0, 0.35 )

						&:focus
							outline: none

			nav.menu
				margin-top: auto

				ul
					display: -ms-flexbox
					display: -webkit-box
					display: flex
					justify-content: space-between
					margin: 0
					padding: 0
					list-style: none

					@media ( max-width: $desktop )
						justify-content: flex-start
						flex-wrap: wrap

					li
						font-family: Garamond, Georgia, serif
						font-size: 12px
						font-weight: 700
						text-transform: uppercase

						@media ( max-width: $desktop )
							margin: 0 20px 10px 0

						a
							color: #FFF


	.slider-container

		@media ( max-width: $tablet )
			display: none

		.bx-wrapper
			margin-bottom: 0
			box-shadow: none
			border: 0

			.bx-pager
				text-align: left
				bottom: 20px
				left: 20px

				.bx-pager-item

					> a
						background: $anchor

						&.active
							background: $chalice-grey

		.slider-caption-container
			background: $woodsmoke-grey

			.slider-caption-inner
				display: -ms-flexbox
				display: -webkit-box
				display: flex

				.slider-caption
					margin: 0
					padding: 30px
					border: 0
					font-family: Garamond, Georgia, serif
					font-size: 30px
					color: $chalice-grey
					line-height: 36px

					&:before
						content: '\201C'

					&:after
						content: '\201D'


	.social-media
		display: -ms-flexbox
		display: -webkit-box
		display: flex
		justify-content: flex-end
		align-items: center
		padding: 0 45px

		.sm-icon
			display: block
			flex-shrink: 0
			width: 48px
			height: 48px
			background: transparent url('../img/social-media.png') no-repeat

			&:not(:first-of-type)
				margin-left: 6px

			&:hover
				opacity: .9

			&.twitter
				background-position: 0 0

			&.facebook
				background-position: -48px 0

			&.rss
				background-position: -96px 0

			&.flame
				background-position: -144px 0

			&.mail
				background-position: -192px 0


	main

		#content, #sidebar
			padding: 30px 15px

		#content

			#posts
				padding: 0 15px

				article
					display: -ms-flexbox
					display: -webkit-box
					display: flex
					flex-wrap: wrap

					&:after
						content: ''
						margin: 30px 0
						width: 100%
						height: 1px
						@include divider-gradient()

					$border-width:          6px
					$border-width-inner:    ( $border-width - 1px ) * -1

					figure
						position: relative
						margin: 0 30px 0 0
						padding: 0
						min-width: 140px
						height: 140px
						overflow: hidden
						border: $border-width solid $gallery-grey

						@media ( max-width: $mobile )
							margin: 0 20px 0 0
							min-width: 80px
							height: 80px

						&:before
							content: ''
							position: absolute
							top: $border-width-inner
							right: $border-width-inner
							bottom: $border-width-inner
							left: $border-width-inner
							border: 1px solid #FFF

						img
							position: absolute
							left: 50%
							top: 50%
							width: auto
							height: 100%
							-webkit-transform: translate( -50%, -50% )
							-ms-transform: translate( -50%, -50% )
							transform: translate( -50%, -50% )

					.content
						flex: 1 1

						h2

							a, a:hover
								color: #000
								text-decoration: none

						.posted-on

						.excerpt
							max-height: 60px

						.button
							display: inline-block
							padding: 4px 40px
							background: $shakespeare-blue
							border-radius: 3px
							font-family: "Arial", sans-serif
							font-size: 12px
							color: #FFF
							@include button-gradient

							&:hover
								opacity: 0.9
								text-decoration: none

			.pagination-container

				ul
					margin: 0
					padding: 0 15px

					li.pagination
						margin: 0
						background: $gallery-grey
						border-radius: 0
						font-family: Arial, sans-serif
						font-size: 12px

						&.overview
							padding: 3px 10px
							color: $chalice-grey

						&.current
							background: $silver-grey

							a
								color: #FFF

						a
							display: block
							padding: 3px 10px
							color: $chalice-grey

							&:hover
								background: $silver-grey
								color: #FFF
								text-decoration: none

		#sidebar
			padding: 30px
			background: $gallery-grey
			@include sidebar-gradient()

			.sidebar-section
				padding: 0 0 20px


	#sponsors
		padding: 30px

		.sponsor-container
			display: -ms-flexbox
			display: -webkit-box
			display: flex
			flex-wrap: wrap
			margin-left: -10px
			margin-top: -10px

			.sponsor
				display: -ms-flexbox
				display: -webkit-box
				display: flex
				justify-content: center
				flex: 1 0 16.6666%
				flex: 1 0 calc( 160px - 30px )
				margin: 10px 0 0 10px
				height: 86px
				border: 6px solid $gallery-grey

				&:after
					content: ''
					display: block
					width: 128px
					height: 100%
					background: transparent url('../img/sponsors.png') no-repeat

				&.sponsor-23, &.sponsor-24

					@media ( max-width: 499px )
						display: none

			// Display all sponsors in a single square - See ~/layout/helpers
			@include n-sponsors()


	footer
		margin: 0
		padding: 0 15px 30px
		background: $woodsmoke-grey
		font-family: Georgia, serif
		font-size: 13px
		color: $chalice-grey

		> div
			padding-top: 20px
			padding-bottom: 20px

		.paragraph-darker
			color: $dove-grey

		.flickr

			.flickr-image
				position: relative
				margin: 0 10px 10px 0
				padding: 0
				width: calc( 100% / 3 - 20px )
				height: 75px
				overflow: hidden
				border: 1px solid $mine-grey

				@media ( max-width: $desktop )
					width: 75px

				img
					position: absolute
					left: 50%
					top: 50%
					width: auto
					height: 100%
					-webkit-transform: translate( -50%, -50% )
					-ms-transform: translate( -50%, -50% )
					transform: translate( -50%, -50% )

		.contact-info

			.social-media
				justify-content: flex-start
				padding: 0