@charset "UTF-8";
/**
 * Mixin to create a gradient-ish border to separate articles in view
 */
/**
 * Iterates over a sprite-sheet of sponsors and prints the sprite as background-image
 * for a calculate nth element
 */
body {
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-family: Garamond, Georgia, serif; }

h2 {
  font-size: 24px; }

p {
  margin-bottom: 20px;
  line-height: 20px; }

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #FFFFFF; }

.uppercase {
  text-transform: uppercase; }

a {
  color: #2C83AF; }
  a:hover {
    color: #1C5F7F;
    text-decoration: underline; }
  a:visited {
    color: #62ACCA; }

body {
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-family: Garamond, Georgia, serif; }

h2 {
  font-size: 24px; }

p {
  margin-bottom: 20px;
  line-height: 20px; }

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #FFFFFF; }

.uppercase {
  text-transform: uppercase; }

body {
  background-color: #012F5A;
  background-image: url("../img/header-glow.jpg"), url("../img/gradient-background.jpg");
  background-repeat: no-repeat, repeat-y;
  background-position: center top; }

#page {
  width: 960px;
  margin: 0 auto;
  background: #FFFFFF; }
  @media (max-width: 991px) {
    #page {
      width: 100%; } }
  #page header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
    padding: 20px 30px;
    background: #111111; }
    @media (max-width: 991px) {
      #page header {
        display: block;
        padding: 20px 30px 10px; } }
    @media (max-width: 480px) {
      #page header .logo {
        width: 100%; } }
    @media (max-width: 480px) {
      #page header .logo img {
        width: 100%; } }
    #page header .navigation {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: auto;
      padding: 0 0 0 30px; }
      @media (max-width: 991px) {
        #page header .navigation {
          display: block;
          position: relative;
          margin: 10px 0 0;
          padding: 0;
          flex-direction: row; } }
      #page header .navigation form.search-container {
        position: relative;
        border-radius: 9px; }
        @media (max-width: 991px) {
          #page header .navigation form.search-container {
            margin: 0 0 10px 0; } }
        #page header .navigation form.search-container label[for="search"] {
          position: absolute;
          right: 0; }
          @media (max-width: 991px) {
            #page header .navigation form.search-container label[for="search"] {
              position: relative; } }
          #page header .navigation form.search-container label[for="search"] input#search {
            width: 125px;
            height: 18px;
            padding: 5px 5px 5px 25px;
            background: #FFF url("../img/header-search.png") no-repeat 3px center;
            border: 0;
            border-radius: 9px;
            font-family: Georgia, serif;
            font-size: 11px;
            font-weight: 300;
            box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.35); }
            #page header .navigation form.search-container label[for="search"] input#search:focus {
              outline: none; }
      #page header .navigation nav.menu {
        margin-top: auto; }
        #page header .navigation nav.menu ul {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          list-style: none; }
          @media (max-width: 991px) {
            #page header .navigation nav.menu ul {
              justify-content: flex-start;
              flex-wrap: wrap; } }
          #page header .navigation nav.menu ul li {
            font-family: Garamond, Georgia, serif;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase; }
            @media (max-width: 991px) {
              #page header .navigation nav.menu ul li {
                margin: 0 20px 10px 0; } }
            #page header .navigation nav.menu ul li a {
              color: #FFF; }
  @media (max-width: 767px) {
    #page .slider-container {
      display: none; } }
  #page .slider-container .bx-wrapper {
    margin-bottom: 0;
    box-shadow: none;
    border: 0; }
    #page .slider-container .bx-wrapper .bx-pager {
      text-align: left;
      bottom: 20px;
      left: 20px; }
      #page .slider-container .bx-wrapper .bx-pager .bx-pager-item > a {
        background: #2C83AF; }
        #page .slider-container .bx-wrapper .bx-pager .bx-pager-item > a.active {
          background: #A3A3A3; }
  #page .slider-container .slider-caption-container {
    background: #111111; }
    #page .slider-container .slider-caption-container .slider-caption-inner {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex; }
      #page .slider-container .slider-caption-container .slider-caption-inner .slider-caption {
        margin: 0;
        padding: 30px;
        border: 0;
        font-family: Garamond, Georgia, serif;
        font-size: 30px;
        color: #A3A3A3;
        line-height: 36px; }
        #page .slider-container .slider-caption-container .slider-caption-inner .slider-caption:before {
          content: "“"; }
        #page .slider-container .slider-caption-container .slider-caption-inner .slider-caption:after {
          content: "”"; }
  #page .social-media {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 45px; }
    #page .social-media .sm-icon {
      display: block;
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      background: transparent url("../img/social-media.png") no-repeat; }
      #page .social-media .sm-icon:not(:first-of-type) {
        margin-left: 6px; }
      #page .social-media .sm-icon:hover {
        opacity: 0.9; }
      #page .social-media .sm-icon.twitter {
        background-position: 0 0; }
      #page .social-media .sm-icon.facebook {
        background-position: -48px 0; }
      #page .social-media .sm-icon.rss {
        background-position: -96px 0; }
      #page .social-media .sm-icon.flame {
        background-position: -144px 0; }
      #page .social-media .sm-icon.mail {
        background-position: -192px 0; }
  #page main #content, #page main #sidebar {
    padding: 30px 15px; }
  #page main #content #posts {
    padding: 0 15px; }
    #page main #content #posts article {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; }
      #page main #content #posts article:after {
        content: "";
        margin: 30px 0;
        width: 100%;
        height: 1px;
        background: rgba(240, 240, 240, 0);
        background: -moz-linear-gradient(left, rgba(240, 240, 240, 0) 0%, #f0f0f0 20%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(240, 240, 240, 0) 0%, #f0f0f0 20%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
        background: -o-linear-gradient(left, rgba(240, 240, 240, 0) 0%, #f0f0f0 20%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
        background: -ms-linear-gradient(left, rgba(240, 240, 240, 0) 0%, #f0f0f0 20%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
        background: linear-gradient(to right, rgba(240, 240, 240, 0) 0%, #f0f0f0 20%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 ); }
      #page main #content #posts article figure {
        position: relative;
        margin: 0 30px 0 0;
        padding: 0;
        min-width: 140px;
        height: 140px;
        overflow: hidden;
        border: 6px solid #EAEAEA; }
        @media (max-width: 480px) {
          #page main #content #posts article figure {
            margin: 0 20px 0 0;
            min-width: 80px;
            height: 80px; } }
        #page main #content #posts article figure:before {
          content: "";
          position: absolute;
          top: -5px;
          right: -5px;
          bottom: -5px;
          left: -5px;
          border: 1px solid #FFF; }
        #page main #content #posts article figure img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: auto;
          height: 100%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      #page main #content #posts article .content {
        flex: 1 1; }
        #page main #content #posts article .content h2 a, #page main #content #posts article .content h2 a:hover {
          color: #000;
          text-decoration: none; }
        #page main #content #posts article .content .excerpt {
          max-height: 60px; }
        #page main #content #posts article .content .button {
          display: inline-block;
          padding: 4px 40px;
          background: #5CAAD2;
          border-radius: 3px;
          font-family: "Arial", sans-serif;
          font-size: 12px;
          color: #FFF;
          background: #5cabd2;
          background: -moz-linear-gradient(top, #5cabd2 0%, #48809e 100%);
          background: -webkit-linear-gradient(top, #5cabd2 0%, #48809e 100%);
          background: -o-linear-gradient(top, #5cabd2 0%, #48809e 100%);
          background: -ms-linear-gradient(top, #5cabd2 0%, #48809e 100%);
          background: linear-gradient(to bottom, #5cabd2 0%, #48809e 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cabd2', endColorstr='#48809e', GradientType=0 ); }
          #page main #content #posts article .content .button:hover {
            opacity: 0.9;
            text-decoration: none; }
  #page main #content .pagination-container ul {
    margin: 0;
    padding: 0 15px; }
    #page main #content .pagination-container ul li.pagination {
      margin: 0;
      background: #EAEAEA;
      border-radius: 0;
      font-family: Arial, sans-serif;
      font-size: 12px; }
      #page main #content .pagination-container ul li.pagination.overview {
        padding: 3px 10px;
        color: #A3A3A3; }
      #page main #content .pagination-container ul li.pagination.current {
        background: #C1C1C1; }
        #page main #content .pagination-container ul li.pagination.current a {
          color: #FFF; }
      #page main #content .pagination-container ul li.pagination a {
        display: block;
        padding: 3px 10px;
        color: #A3A3A3; }
        #page main #content .pagination-container ul li.pagination a:hover {
          background: #C1C1C1;
          color: #FFF;
          text-decoration: none; }
  #page main #sidebar {
    padding: 30px;
    background: #EAEAEA;
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 80%, rgba(240, 240, 240, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=0 ); }
    #page main #sidebar .sidebar-section {
      padding: 0 0 20px; }
  #page #sponsors {
    padding: 30px; }
    #page #sponsors .sponsor-container {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-top: -10px; }
      #page #sponsors .sponsor-container .sponsor {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        justify-content: center;
        flex: 1 0 16.6666%;
        flex: 1 0 calc( 160px - 30px );
        margin: 10px 0 0 10px;
        height: 86px;
        border: 6px solid #EAEAEA; }
        #page #sponsors .sponsor-container .sponsor:after {
          content: "";
          display: block;
          width: 128px;
          height: 100%;
          background: transparent url("../img/sponsors.png") no-repeat; }
        @media (max-width: 499px) {
          #page #sponsors .sponsor-container .sponsor.sponsor-23, #page #sponsors .sponsor-container .sponsor.sponsor-24 {
            display: none; } }
      #page #sponsors .sponsor-container .sponsor.sponsor-1:after {
        background-position: 0px -4px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-2:after {
        background-position: -151px -4px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-3:after {
        background-position: -302px -4px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-4:after {
        background-position: -453px -4px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-5:after {
        background-position: -604px -4px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-6:after {
        background-position: -755px -4px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-7:after {
        background-position: 0px -100px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-8:after {
        background-position: -151px -100px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-9:after {
        background-position: -302px -100px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-10:after {
        background-position: -453px -100px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-11:after {
        background-position: -604px -100px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-12:after {
        background-position: -755px -100px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-13:after {
        background-position: 0px -196px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-14:after {
        background-position: -151px -196px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-15:after {
        background-position: -302px -196px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-16:after {
        background-position: -453px -196px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-17:after {
        background-position: -604px -196px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-18:after {
        background-position: -755px -196px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-19:after {
        background-position: 0px -292px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-20:after {
        background-position: -151px -292px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-21:after {
        background-position: -302px -292px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-22:after {
        background-position: -453px -292px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-23:after {
        background-position: -604px -292px; }
      #page #sponsors .sponsor-container .sponsor.sponsor-24:after {
        background-position: -755px -292px; }
  #page footer {
    margin: 0;
    padding: 0 15px 30px;
    background: #111111;
    font-family: Georgia, serif;
    font-size: 13px;
    color: #A3A3A3; }
    #page footer > div {
      padding-top: 20px;
      padding-bottom: 20px; }
    #page footer .paragraph-darker {
      color: #6F6E6E; }
    #page footer .flickr .flickr-image {
      position: relative;
      margin: 0 10px 10px 0;
      padding: 0;
      width: calc( 100% / 3 - 20px );
      height: 75px;
      overflow: hidden;
      border: 1px solid #363636; }
      @media (max-width: 991px) {
        #page footer .flickr .flickr-image {
          width: 75px; } }
      #page footer .flickr .flickr-image img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    #page footer .contact-info .social-media {
      justify-content: flex-start;
      padding: 0; }

/*# sourceMappingURL=main.css.map */
